# for dev
coverage
.tool-versions
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# commonly ignored files
.DS_Store

# output
dist
public

# Local Netlify folder
.netlify

# Vite
node_modules
