@import '/styles/_markdown.scss';

.post {
  &__meta {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: bold;
  }

  &__updated a {
    text-decoration: underline;
  }

  &__tags {
    margin-top: 0.5rem;
  }

  &__article {
    margin-bottom: 2rem;
    @include markdown;
  }
}
