.header {
	@apply border-gray-300;
  background-color: white;
	@apply border-b;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: space-between;
  width: 100%;
	@apply h-20;
	@apply p-6;
	@apply z-10;

	@apply leading-tight;
	@apply align-middle;

	&__blog-name {
		@apply text-2xl;
		@apply font-bold;
	}
}
