meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
if !IS_DEV
	include _analytics.pug
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min.css")
