doctype html
html(lang="ko")
	head
		include _head.pug
		//- include _meta.pug
		//- .
		//- 	{{{ renderResourceHints() }}}
		//- .
		//- 	{{{ renderStyles() }}}
	body
		//vue-ssr-outlet
		//- .
		//- 	{{{ renderState() }}}
		//- .
		//- 	{{{ renderScripts() }}}
		#app
