doctype html
html(lang="ko")
    head
        include _head.pug
    body
        #app
        script(async src=`https://cse.google.com/cse.js?cx=${_config.search}`)
        if !IS_DEV
            include _analytics.pug
