doctype html
html(lang="ko")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		if !IS_DEV
			//- Global site tag (gtag.js) - Google Analytics
			script(
				async,
				src=`https://www.googletagmanager.com/gtag/js?id=${_config.googleAnalytics}`
			)
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){
					dataLayer.push(arguments);
				}
				gtag('js', new Date());
				gtag('config', '#{_config.googleAnalytics}');
	body
		//vue-ssr-outlet
