$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

header {
    @apply pb-6;
    @apply mb-3;
    @apply border-gray-300;
    @apply border-b;

    .top {
        @apply fixed;
        @apply w-screen;
        @apply h-20;
        @apply p-6;
        @apply z-10;
        @apply bg-white;
        @apply opacity-75;
        @apply shadow-lg;
        @apply leading-tight;
        @apply align-middle;

        .title {
            @apply text-2xl;
            @apply font-bold;
        }

        .archive {
            @apply absolute;
            @apply top-0;
            @apply right-0;

            @apply pt-1;
            @apply mt-6;
            @apply mr-10;
        }
    }

    .profile {
        @apply relative;
        @apply w-full;
        @apply pt-20;

        img {
            @apply mt-10;
            @apply rounded-full;
            @apply mx-auto;
        }

        h2 {
            @apply mt-5;
            @apply text-2xl;
            @apply text-center;
        }

        p {
            @apply w-2/3;
            @apply mx-auto;
            @apply text-center;
        }

        .links {
            @apply flex;
            @apply flex-row;
            @apply justify-center;
            @apply mt-3;

            li {
                @apply mr-6;

                &:last-child {
                    @apply mr-0;
                }

                .github-link {
                    @extend %fa-icon;
                    @extend .fab;
                    @extend .fa-lg;

                    &:before {
                        content: fa-content($fa-var-github);
                    }
                }

                .linkedin-link {
                    @extend %fa-icon;
                    @extend .fab;
                    @extend .fa-lg;

                    &:before {
                        content: fa-content($fa-var-linkedin-in);
                    }
                }

                .twitter-link {
                    @extend %fa-icon;
                    @extend .fab;
                    @extend .fa-lg;

                    &:before {
                        content: fa-content($fa-var-twitter);
                    }
                }

                .mail-link {
                    @extend %fa-icon;
                    @extend .fas;
                    @extend .fa-lg;

                    &:before {
                        content: fa-content($fa-var-envelope);
                    }
                }
            }
        }
    }

    nav {
        .menu {
            @apply flex;
            @apply flex-row;
            @apply justify-center;
            @apply mt-3;
    
            li {
                @apply mr-6;
                @apply text-xl;

                &:last-child {
                    @apply mr-0;
                }
            }
        }
    }
}
