@mixin list {
  margin-left: 2rem;
}

@mixin code {
  display: inline-block;
  white-space: pre-wrap;

  font-family: 'Roboto Mono', monospace;

  span {
    font-family: 'Roboto Mono', monospace;
  }
}

@mixin markdown {
  line-height: 1.6;
  vertical-align: middle;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 1em;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p {
    margin-top: 1em;
  }

  ol {
    @include list;
    list-style: decimal;
  }

  ul {
    @include list;
    list-style: "― ";

    &:has(input) {
      margin-left: 0.5rem;
      list-style: none;
    }

    input {
      margin-right: 0.2em;
    }
  }

  li {
    margin-top: 0.5em;

    &:first-child {
      margin-top: 1em;
    }
  }

  li li:first-child {
    margin-top: 0.5em;
  }

  a {
    text-decoration: underline;
  }

  del {
    color: #6b7280;
    text-decoration: line-through;
  }

  hr {
    margin-top: 3rem;
  }

  figure {
    text-align: center;
    margin: 2rem auto;

    @media (max-width: 600px) {
      max-width: 350px;
    }
    @media (min-width: 600px) {
      max-width: 800px;
    }

    img {
      max-width: 100%;
      margin: 0 auto;
      border: 1px solid #eeeeee;
      border-radius: 1rem;
    }

    figcaption {
      margin-top: 1em;
      color: #555555;
      font-size: 0.8rem;
    }
  }

  :global {
    .short-code {
      padding: 0.1em 0.2em;
      border-radius: 3px;
      background-color: #e5e7eb;
    }

    .hljs {
      margin-top: 1em;
      padding: 0.75rem 0;
      border-radius: 0.5rem;
      white-space: nowrap;
      word-break: keep-all;

      div {
        display: flex;;

        &.highlighted {
          background-color: #181830;
        }

        .line-number {
          @include code;
          padding: 0 1em;
          margin-right: 1em;
          border-right: 1px solid #374151;
          text-align: right;

          user-select: none;
        }
        .code {
          @include code;
          flex: 1;
          margin-right: 1em;
        }
      }
    }
  }

  blockquote {
    position: relative;
    margin-top: 1em;

    color: #555555;

    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 3px;
      height: 100%;

      background-color: #dddddd;
    }

    & > * {
      margin-left: 1.5rem;
    }
  }

  table {
    margin: 30px auto;
    border-collapse: collapse;

    thead {
      font-weight: bold;
      background-color: #e5e7eb;
    }

    tr:nth-child(2n) {
      background-color: #f0f0f0;
    }

    th, td {
      padding: 0.3em 1em;
    }

    :is(th, td):not(:last-child) {
      border-right: 1px solid;
      border-color: #dddddd;
    }
  }
}
