@mixin list {
    @apply ml-6;
    @apply mt-3;
}

@mixin code {
    @apply inline-block;
    @apply whitespace-pre-wrap;
}

@mixin markdown {
    h1 {
        @apply text-3xl;
        @apply mt-6;
    }

    h2 {
        @apply text-2xl;
        @apply mt-4;
    }

    p {
        @apply mt-4;
    }

    ol {
        @include list;
        @apply list-decimal;
    }

    ul {
        @include list;
        @apply list-disc;
    }

    li {
        @apply pt-2;

        &:first-child {
            @apply pt-0;
        }
    }

    a {
        @apply text-blue-400;
        @apply underline;

        &:active {
            @apply text-blue-800;
        }
    }

    del {
        @apply text-gray-500;
    }

    hr {
        @apply mt-5;
    }

    figure {
        @apply text-center;
        @apply mx-auto;
        @apply my-4;

        @media (max-width: 600px) {
            max-width: 350px;
        }
        @media (min-width: 600px) {
            max-width: 800px;
        }

        img {
            @apply mx-auto;
            @apply rounded-lg;
            @apply shadow;
        }

        figcaption {
            @apply text-gray-700;
            @apply pt-2;
            @apply text-sm;
        }
    }

    .short-code {
        @apply px-1;
        @apply rounded;
        @apply bg-gray-200;
        @apply text-blue-400;
    }

    .hljs {
        @apply w-full;
        @apply px-0;
        @apply py-3;
        @apply mt-2;
        @apply rounded-lg;
        @apply whitespace-no-wrap;
        @apply break-all;

        div {
            @apply flex;

            &.highlighted {
                @apply bg-gray-900;
            }

            .line-number {
                @include code;
                @apply px-3;
                @apply mr-3;
                @apply border-r;
                @apply border-gray-700;
                @apply text-right;

                user-select: none;
            }
            .code {
                @include code;
                @apply flex-1;
            }
        }
    }
}
