body {
  font-family: "Noto Serif KR", serif;
  font-size: 14px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: row;
}

main {
  margin: 1rem 2rem;
}
